body{
    width: 100%;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    background-image: url("../graphic/pattern.png");
}

#board{
    width: 600px;
    height: 400px;
    position: absolute;
    top: 33%;
}

canvas{
    width: 100%;
    height: 100%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.logo img{
    width: 80%;
    transition: transform 0.2s ease-in-out;
}

.logo img:hover{
    transform: scale(1.1);
}